*.iml
.gradle
.idea
data/src/androidTest
data/src/test
domain/src/androidTest
domain/src/test
presentation/src/androidTest
presentation/src/test
build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
